.random-planet {
    display: flex;
}

.planet-image {
    min-width: 150px;
    max-width: 300px;
    height: auto;
}

.planet-properties {
    min-width: 250px;
}

.center {
    align-self: center;
}